{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

<div class="content" style="text-align: center; padding: 1%;">
     <div class="row">
         <div class="col-sm-12">
              <h1 style="color: #277064; padding-top: 1%; padding-bottom: 1%;">Calendário vacinal</h1>

               <table class="table table-bordered" style="text-align: center;">

                    <thead style="background-color: #13678A; color:white">
                         <tr>
                         <th>IDADE</th>
                         <th>VACINA</th>
                         <th>DOSE</th>
                         <th>DOENÇAS EVITADAS</th>
                         </tr>
                    </thead>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>Ao nascer</td>
                           <td>Vacina BCG</td>
                           <td><b>Única</b></td>
                           <td>Formas graves de tuberculose(miliar e meníngea)
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>Ao nascer</td>
                           <td>Vacina hepatite B (recombinante)</td>
                           <td><b>Ao nascer</b></td>
                           <td>Hepatite B
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>2 meses</td>
                           <td>Vacina adsorvida difteria, tétano, pertussis, hepatite B(recombinante) e Haemophilus influenzae b(conjugada)</td>
                           <td><b>1ª dose</b></td> 
                           <td>Difteria, tétano, coqueluche hepatite B e infecções causadas pelo Haemophilus influenzae
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>2 meses</td>
                           <td>Vacina poliomielite 1,2 e 3 (inativada)-(VIP)</td>
                           <td><b>1ª dose</b></td> 
                           <td>Poliomielite
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>2 meses</td>
                           <td>Vacina pneumocócica 10 valente(conjugada) - (Pneumo 10)</td>
                           <td><b>1ª dose</b></td> 
                           <td>Infecções invasivas (meningite e pneumonia) e otite média aguda
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>2 meses</td>
                           <td>Vacina rotavírus humano G1P1[8] atenuada - (VRH)</td>
                           <td><b>1ª dose</b></td>    
                           <td>Diarréia por rotavírus (Gastroenterítes)
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>3 meses</td>
                           <td>Vacina meningocócica C (conjugada) - (Meningo C)</td>
                           <td><b>1ª dose</b></td>    
                           <td>Doenças causadas pela <i>Neisseria meningitidis</i> do sorogrupo C
                              <br><a type="button" class="button" href="/">Saiba mais</a></td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 meses</td>
                           <td>Vacina adsorvida difteria, tétano, pertussis, hepatite B (recombinante) e Haemophilus influenzae B (conjugada) - (Penta)</td>
                           <td><b>2ª dose</b></td>    
                           <td>Difteria, tétano, coqueluche, hepatite B e infecções causadas pelo Haemophilus influenzae B
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 meses</td>
                           <td>Vacina poliomielite 1, 2 e 3 (inativada) - (VIP)</td>
                           <td><b>2ª dose</b></td>    
                           <td>Poliomielite
                              <br><a type="button" class="button" href="/">Saiba mais</a>
                           </td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 meses</td>
                           <td>Vacina pneumocócica 10 valente(conjugada) - (Pneumo 10)</td>
                           <td><b>2ª dose</b></td>    
                           <td>Infecções invasivas (como meningite e pneumonia ) e otite média aguda, causadas pelos 10 sorotipos <i>Streptococus pneumoniae</i>
                              <br><a type="button" class="button" href="/">Saiba mais</a></td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 meses</td>
                           <td>Vacina rotavírus humano G1P1 [8] (atenuada) - (VRH)</td>
                           <td><b>2ª dose</b></td>    
                           <td>Diarreia por rotavírus (Gastroenterites).</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>5 meses</td>
                           <td>Vacina meningocócica C (conjugada) - (Meningo C)</td>
                           <td><b>2ª dose</b></td>    
                           <td>Doença invasiva causada pela Neisseria meningitidis do sorogrupo C.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>6 meses</td>
                           <td>Vacina adsorvida difteria, tétano, pertussis, hepatite B (recombinante) e Haemophilus influenzae B (conjugada) - (Penta)</td>
                           <td><b>3ª dose</b></td>    
                           <td>Difteria, tétano, coqueluche, hepatite B e infecções causadas pelo <i>Haemophilus influenzae B</i>.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>6 meses</td>
                           <td>Vacina Influenza</td>
                           <td><b>1 ou 2 doses (anual)</b></td>    
                           <td>Infecções pelo vírus influenza.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>9 meses</td>
                           <td>Vacina febre amarela (atenuada) - (FA)</td>
                           <td><b>Uma dose</b></td>    
                           <td>Febre amarela.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>12 meses</td>
                           <td>Vacina pneumocócica 10 valente(conjugada) - (Pneumo 10)</td>
                           <td><b>Reforço</b></td>    
                           <td>Infecções invasivas (como meninigite, pneumonia e otite média aguda), causadas pelos 10 sorotipos Streptococus pneumoniae.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>12 meses</td>
                           <td>Vacina meningocócica C (conjugada) - (Meningo C)</td>
                           <td><b>Reforço</b></td>    
                           <td>Doença invasiva causada pela Neisseria meningitidis do sorogrupo C.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>12 meses</td>
                           <td>Vacina sarampo, caxumba, rubéola (Tríplice viral)</td>
                           <td><b>1ª dose</b></td>    
                           <td>Sarampo, caxumba e rubéola.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>15 meses</td>
                           <td>Vacina adsorvida difteria, tétano e pertussis (DTP)</td>
                           <td><b>1ª reforço</b></td>    
                           <td>Difteria, tétano e coqueluche.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>15 meses</td>
                           <td>Vacina poliomielite 1 e 3 (atenuada) - (VOPb)</td>
                           <td><b>1ª reforço</b></td>    
                           <td>Poliomielite.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>15 meses</td>
                           <td>Vacina adsorvida hepatite A (inativada)</td>
                           <td><b>1ª dose</b></td>    
                           <td>Hepatite A.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>15 meses</td>
                           <td>Vacina sarampo, caxumba, rubéola e varicela (Atenuada) - (Tetra viral)</td>
                           <td><b>1ª dose</b></td>    
                           <td>Sarampo, caxumba, rubéola e varicela.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 anos</td>
                           <td>Vacina adsorvida difteria, tétano e pertussis (DTP)</td>
                           <td><b>2º reforço</b></td>    
                           <td>Difteria, tétano e coqueluche.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 anos</td>
                           <td>Vacina febre amarela (atenuada) - (FA)</td>
                           <td><b>Reforço</b></td>    
                           <td>Febre amarela.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 anos</td>
                           <td>Vacina poliomielite 1 e 3 (atenuada) - (VOPb)</td>
                           <td><b>2º reforço</b></td>    
                           <td>Poliomielite</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>4 anos</td>
                           <td>Vacina varicela (monovalente) - (Varicela)</td>
                           <td><b>1º dose</b></td>    
                           <td>Varicela.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>5 anos</td>
                           <td>Vacina pneumocócica 23-valente - (Pneumo 23)</td>
                           <td><b>1º dose</b></td>    
                           <td>Para a proteção contra infecções invasivas pelo pneumococo na população indígena.</td>
                         </tr>
                    </tbody>

                    <tbody style="background-color: white;">
                         <tr>
                           <td>9 anos</td>
                           <td> Vacina papilomavírus humano 6, 11, 16 e 18 (recombinante) - (HPV)</td>
                           <td><b>2 doses (9 a 14 anos)</b></td>    
                           <td></td>
                         </tr>
                    </tbody>
               </table> 
          </div>
     </div>              
</div>

{% endblock %}