{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

<div class="content">
     <h1 style="color: #277064; padding-top: 2%; text-align: center;">Dados da Criança</h1>
     <div class="row" style="padding-top: 2%;">
          <div class="col-sm-12">
               <div class="card" style="width:100%;">
                    <div class="card-body">
                         <div class="divs row" style="text-align: left;">
                              <div class="col-md-6">
                                   <label for="nrNascidoVivo" class="form-label">Número nascido vivo:</label>
                                   <input type="text" readonly class="form-control" value={{crianca.nr_nascido_vivo}} style="background-color: #DAFDBA;" required>             
                              </div>

                              <div class="col-md-6">
                                   <label for="nomeCrianca" class="form-label">Nome criança:</label>
                                   <input type="text" readonly class="form-control" value={{crianca.nome_crianca}} style="background-color: #DAFDBA;" required>                         
                              </div>
                         </div>

                         <div class="divs row" style="text-align: left;">
                              <div class="col-md-2">
                                   <label for="cpf" class="form-label">CPF:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;">   
                              </div>

                              <div class="col-md-2">
                                   <label for="dataNascimento" class="form-label">Data de nascimento:</label>
                                   <input type="date" readonly class="form-control" value={{crianca.data_nasc}} style="background-color: #DAFDBA;" required>                           
                              </div>

                              <div class="col-md-4">
                                   <label for="estadoEndereco" class="form-label">Nome Mãe:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>

                              <div class="col-md-4">
                                   <label for="cidadeEndereco" class="form-label">Nome Pai:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>

                         </div>

                         <div class="divs row" style="text-align: left;">
                              <div class="col-sm-2">
                                   <label for="cidade" class="form-label">Cidade:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;">   
                              </div>
                            
                              <div class="col-sm-2">
                                   <label for="estado" class="form-label">Estado:</label>
                                   <input type="Text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                              <div class="col-sm-2">
                                   <label for="cepEndereco" class="form-label">CEP:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;">   
                              </div>
                            
                              <div class="col-sm-2">
                                   <label for="bairroEndereco" class="form-label">Bairro:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;">   
                              </div>

                              <div class="col-sm-4">
                                   <label for="ruaEndereco" class="form-label">Rua:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>

                              <div class="col-sm-1">
                                   <label for="numeroEndereco" class="form-label">Número:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                              <div class="col-sm-2">
                                   <label for="complemento" class="form-label">Complemento:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                              <div class="col-sm-2">
                                   <label for="nrSus" class="form-label">Número cartão SUS:</label>
                                   <input type="text" readonly class="form-control" style="background-color: #DAFDBA;">   
                              </div>
                              <div class="col-sm-2">
                                   <label for="tipoSanguineo" class="form-label">Tipo Sanguíneo:</label>
                                   <input type="Text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                              <div class="col-sm-4">
                                   <label for="etnia" class="form-label">Etnia:</label>
                                   <input type="Text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                              <div class="col-sm-1">
                                   <label for="tipoSanguineo" class="form-label">Sexo:</label>
                                   <input type="Text" readonly class="form-control" style="background-color: #DAFDBA;"/>
                              </div>
                         </div>                  
                    </div>
               </div>     
          </div>
     </div>
     <input type="submit" value="Salvar dados" class="btn btn-primary" style="background-color: #277064; border-color: #277064; margin-top: 3%;">        
</div>


{% endblock %}


