{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

<div class="content">
    <div class="row" style="padding-top: 2%; align-items: center;">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h2 class="card-title">Direitos dos Responsáveis<h2>
                    <p class="card-text">
                        <h6 style="text-align: start;"><b>São direitos do pai:</b></h6>
                        <ul style="text-align: start;">
                            <li>Participar das consultas e exames de pré-natal durante a gravidez;</li>
                            <li>Acompanhar o nascimento da filho(a);</li>
                            <li>Acompanhar a filho(a) durante todo o tempo em que ele(a) permanecer hospitalizado(a) em enfermaria ou em unidade de terapia intensiva ou semi-intensiva;</li>
                            <li>Participar das consultas e exames de acompanhamento da saúde de sua criança;</li>
                            <li>Ter licença-paternidade de 5 dias a partir do dia de nascimento do filho(a), prorrogáveis para 15 dias nas empresas cidadãs. A licença-paternidade é um direito dos pais biológicos ou adotivos;</li>
                            <li>Conhecer e participar do projeto pedagógico da creche, da pré-escola e da escola que o filho(a) frequenta;</li>
                            <li>Ter acesso às informações sobre serviços, programas de transferência de renda e benefícios assistenciais a que o filho(a) possa ter direito;</li>
                            <li>Acompanhar a participação do filho(a) nos serviços de assistência social ofertados pela rede socioassistencial do Sistema Único de Assistência Social (SUAS).</li>
                        </ul>

                        <h4 style="background-color: #DAFDBA;">ATENÇÃO!</h4>
                        <p>Pais, participem e acompanhem a rotina de atendimento nas unidades de saúde, na creche/escola e nos serviços de assistência social. Conversem com os profissionais para esclarecer dúvidas sobre os cuidados com sua filha e sobre os estímulos de que ela precisa em cada fase do seu desenvolvimento.</p>
                        
                        <p style="text-align: start;"><b>São direitos da mãe:</b></p>
                        <ul style="text-align: start;">
                            <li>Escolher um acompanhante que ficará ao seu lado durante o pré-parto, o parto e o pós-parto;</li>
                            <li>Permanecer na maternidade ou no hospital em alojamento conjunto com o filho(a);</li>
                            <li>Receber orientações e aconselhamento sobre amamentação;</li>
                            <li>Receber, no momento da alta, orientações sobre quando e onde deverá fazer suas consultas de pós-parto e as consultas de acompanhamento de seu filho(a);</li>
                            <li>Ter licença-maternidade de 120 dias ou mais. Para as mães adotivas a duração da licença-maternidade varia conforme a idade da criança adotada;</li>
                            <li>Ter estabilidade no emprego até cinco meses após o parto;</li>
                            <li>Ter dois períodos de meia hora por dia para amamentar durante a jornada de trabalho, até que o bebê complete 6 meses. Se a saúde do bebê exigir, esses períodos poderão ser mantidos por mais tempo, conforme recomendação médica;</li>                        
                            <li>Acompanhar o filho(a) durante todo o tempo em que ele permanecer hospitalizada em enfermaria ou em unidade de terapia intensiva ou semi-intensiva;</li>
                            <li>Acompanhar o filho(a) em creche ou pré-escola durante o período de adaptação;</li>
                            <li>Ter acesso às informações sobre serviços, programas de transferência de renda e benefícios assistenciais a que o filho(a) possa ter direito;</li>
                            <li>Acompanhar a participação do filho(a) nos serviços de assistência social ofertados pela rede socioassistencial do Sistema Único de Assistência Social (SUAS);</li>
                            <li>Conhecer e participar do projeto pedagógico da creche, da pré-escola e da escola que o filho(a) frequenta;</li>
                            <li>Ter ampliada a licença-maternidade para 180 dias, no caso de empresa privada que tenha aderido à Lei da Empresa Cidadã;</li>
                            <li>Ter acesso a creche no local de trabalho, ou a creche conveniada pela empresa, caso esta possua mais de 30 mulheres com mais de 16 anos de idade.</li>
                        </ul>
                        <h4 style="background-color: #DAFDBA;">IMPORTANTE!</h4>
                        <p>Muitas empresas já oferecem lugar apropriado para amamentação com privacidade, conforto e higiene, para que a mãe possa amamentar ou retirar seu leite e armazená-lo durante toda a jornada de trabalho.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}