{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

    <div class="content">
        <div class="row" style="padding-top: 2%; align-items: center;">
            <div class="col-sm-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h2 class="card-title">Direitos da Criança<h2>
                        <p class="card-text">
                        <h5>
                            Toda criança tem os direitos à vida, à liberdade, à igualdade, à segurança, à dignidade e à proteção integral garantidos pela Constituição Federal de 1988, 
                            pelo Estatuto da Criança e do Adolescente (ECA) e por outras leis. As medidas para garantir e defender esses direitos são responsabilidade do governo, da sociedade e da família.
                        </h5>
                        <h4 style="background-color: #DAFDBA;">IMPORTANTE!</h4>
                        <p>
                            Você pode requerer o Estatuto da Criança e do Adolescente no Conselho Municipal dos Direitos da Criança e do Adolescente de sua cidade ou no endereço eletrônico:
                            <br>
                            <a href="http://www.planalto.gov.br/CCIVIL_03/leis/L8069.htm.">http://www.planalto.gov.br/CCIVIL_03/leis/L8069.htm.</a>
                        </p>
                        <p style="text-align: start;"><b>São direitos da criança:</b></p>
                        <ul style="text-align: start;">
                            <li>Receber identificação neonatal, por meio da Declaração de Nascido Vivo (DNV);</li>
                            <li>Receber o Registro Civil de Nascimento (RCN), que é gratuito e entregue, se possível, na maternidade;</li>
                            <li>Ser chamada pelo nome desde o nascimento;</li>
                            <li>Realizar gratuitamente os exames de triagem neonatal;</li>
                            <li>Ser acompanhada em seu crescimento e desenvolvimento;</li>
                            <li>Ter garantida a vacinação de acordo com a recomendação do Ministério da Saúde (MS);</li>
                            <li>Viver em um ambiente afetuoso e sem violência;</li>
                            <li>Ser acompanhada pelos pais e responsáveis, em período integral, durante a sua internação em hospitais</li>
                            <li>Brincar e aprender;</li>
                            <li>Ter acesso a água potável e a alimentação saudável;</li>
                            <li>Ter acesso a serviços de saúde e de assistência social de qualidade;</li>
                            <li>Ter acesso a creches e escolas públicas de qualidade, localizadas próximo à sua residência;</li>
                            <li>Ter acesso ao lazer e à prática de esportes;</li>
                            <li>Ter convivência familiar e comunitária. No caso de criança afastada da convivência familiar - por medida judicial para garantir a sua proteção -, 
                            é preciso viabilizar o seu retorno seguro ao convívio familiar, no menor tempo possível, prioritariamente na família de origem e excepcionalmente em família substituta;</li>
                            <li>Receber transferência de renda por meio do Programa Bolsa Família, quando a família está em situação de pobreza ou de extrema pobreza;</li>
                            <li>Receber o Benefício de Prestação Continuada da Assistência Social, no caso de crianças com deficiência (veja pág. 53) e cuja família tenha renda familiar inferior a ¼  (um quarto) 
                            do salário mínimo vigente e não possua meios para garantir o seu sustento</li>
                        </ul>
                        <p style="text-align: start;"><b>Registro Civil de Nascimento (RCN):</b></p>
                        <p style="text-align: start;">O RCN é o documento oficial que garante a cidadania da criança, assegurada pela Constituição Federal de 1988 (art. 5º, inciso LXXVI, alínea a) e reafirmada pela Lei nº 9.534, 
                            de 1997, que o tornou gratuito para todos. Você pode registrar sua filha na maternidade/hospital onde ela nasceu ou no Cartório de Registro Civil da cidade de nascimento ou do local onde a família mora.</p>
                        <h4 style="background-color: #DAFDBA;">ATENÇÃO!</h4>
                        <p>A mãe ou o pai, isoladamente ou juntos, podem fazer o registro em seu próprio nome. No caso de falta ou impedimento de um, o outro terá o prazo para declaração prorrogado por 45 dias (Lei nº 13.112, de 2015).</p>
                        <p style="text-align: start;"><b>Para fazer o registro é necessário apresentar a via amarela da Declaração de Nascido Vivo (DNV), fornecida pela maternidade ou pelo hospital onde o bebê nasceu e:</b></p>
                        <ul style="text-align: start;">
                            <li>Se os pais forem casados, a Certidão de Casamento;</li>
                            <li>Se os pais não forem casados, documento de identificação que tenha foto e seja válido em todo o território nacional (Carteira de Identidade, Carteira de Motorista ou Carteira de Trabalho);</li>
                            <li>Se os pais forem menores de 16 anos e não emancipados, comparecer acompanhados por um dos avós do bebê.</li>
                        </ul>
                        <h4 style="background-color: #DAFDBA;">IMPORTANTE!</h4>
                        <p>Se o bebê nasceu em casa ou em outro local que não a maternidade ou o hospital e não tem a DNV, os pais devem fazer o registro acompanhados por duas testemunhas maiores de 18 anos que comprovem a gravidez e o parto da mãe.</p>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
        