{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

     <div class="content">
          <h1 style="color: #277064; padding-top: 2%;">Histórico de Consultas Médicas</h1>
          <div class="row" style="padding-top: 2%;">
          <div class="col-sm-12">
               <table class="table table-bordered" style="text-align: center;">
               <thead style="background-color: #13678A; color: white;">
                    <tr>
                    <th>Data consulta</th>
                    <th>Idade</th>
                    <th>Peso</th>
                    <th>Estatura</th>
                    <th>Perímetro cefálico</th>
                    <th>IMC</th>
                    <th>Classificação e Conduta para o desenvolvimento</th>
                    </tr>
               </thead>
     
               <tbody style="background-color: white;">
                    {% for h in evolucao %}
                         <tr>
                         <td>{{h.data_avaliacao}}</td>
                         <td>{{h.idade}}</td>
                         <td>{{h.peso}} KG</td>
                         <td>{{h.estatura}} cm</td>
                         <td>{{h.perimetro_cefalico}} cm</td>
                         <td>{{imc}}</td>
                         <td>{{h.classificacao_imc}}</td>
                         </tr>
                    {% endfor %}
               </tbody>
               </table>
          </div>
          </div>
     </div>
 

{% endblock %}