{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'imagens\icones\grafico-de-barras.png'%}" alt="Card image" style="padding-bottom: 10%;">
                    <div class="card-body">
                        <h4 class="card-title">Gráfico de Crescimento</h4>
                        <a href="grafico_crescimento" class="btn btn-primary" style="background-color:#277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'imagens\icones\documentos.png'%}" alt="Card image" >
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Consultas Médicas</h4>
                        <a href="historico_consultas_medic" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'imagens\icones\exame-odontologico.png'%}" alt="Card image" >
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Consultas Odontológicas</h4>
                        <a href="historico_consultas_odont" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'imagens\icones\vacinado.png'%}" alt="Card image" >
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Vacinas da criança</h4>
                        <a href="historico_vacinas" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'imagens\icones\metro.png'%}" alt="Card image" >
                    <div class="card-body">
                        <h4 class="card-title">Medidas</h4>
                        <a href="medidas" class="btn btn-primary" style="background-color: #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .col-sm-3{
        padding: 1%;
    }
    .card-img-top{
        width: 40%;
        
    }
    .card{
        width:90%; 
        height: 100%;
        align-items: center;
    }
    .card-title{
        align-items: end;
    }
</style>
        
{% endblock %}