{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width:300px">
                    
                    <img class="card-img-top" src="{% static 'imagens\grafico.webp'%}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Gráfico de Crescimento</h4>
                        <a href="grafico_crescimento" class="btn btn-primary" style="background-color:#277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width:300px; align-items: center;">
                    <img class="card-img-top" src="{% static 'imagens\documento.png'%}" alt="Card image" style="width:140px">
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Consultas Médicas</h4>
                        <a href="historico_consultas_medic" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width:300px; align-items: center;">
                    <img class="card-img-top" src="{% static 'imagens\documento.png'%}" alt="Card image" style="width:140px">
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Consultas Odontológicas</h4>
                        <a href="historico_consultas_odont" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width:300px; align-items: center;">
                    <img class="card-img-top" src="{% static 'imagens\vacinaa.png'%}" alt="Card image" style="width:160px">
                    <div class="card-body">
                        <h4 class="card-title">Histórico de Vacinas</h4>
                        <a href="historico_vacinas" class="btn btn-primary" style="background-color:  #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width:300px; align-items: center;">
                    <img class="card-img-top" src="{% static 'imagens\medida2.png'%}" alt="Card image" style="width:190px">
                    <div class="card-body">
                        <h4 class="card-title">Medidas</h4>
                        <a href="medidas" class="btn btn-primary" style="background-color: #277064; border-color: #277064;">Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .col-sm-3{
        padding: 1%;
    }
</style>
        
{% endblock %}