<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body style="background-color: #EDE1D6; text-align: center;">
    <div class="container">
        <div class="card" style="width:700px;">
            <img class="card-img-top" src="imagens/login5.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <p class="card-text">
                <form>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #9AEBA3;">Usuário</span>
                      </div>
                      <input type="text" class="form-control" style="background-color: #DAFDBA;">
                    </div>
                  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="background-color: #9AEBA3;">Senha</span>
                        </div>
                        <input type="text" class="form-control" style="background-color: #DAFDBA;">
                      </div>
                  </form>
              </p>
              <a href="/" class="btn btn-primary" style="background-color: #277064; border-color: #277064;"><b>Acessar</b></a>
              <br><br>
              <a href="esqueci_senha"><b>Esqueci a senha</b></a>
            </div>
          </div>
        </div>
</body>
</html>
<style>
    .container {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        
    }
</style>