{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

<div class="content">
    <h1 style="color: #277064; padding-top: 2%;">Histórico Evolução da Criança</h1>
    <div class="row" style="padding-top: 2%;">
        <div class="col-sm-12">
            <table class="table table-bordered" style="text-align: center;">
            <thead style="background-color: #13678A; color: white;">
                <tr>
                <th>DATA CONSULTA</th>
                <th>IDADE</th>
                <th>PESO</th>
                <th>ESTATURA</th>
                <th>PERÍMETRO CEFÁLICO</th>
                <th>IMC</th>
                <th>CLASSIFICAÇÃO E CONDUTA PARA O DESENVOLVIMENTO</th>
                </tr>
            </thead>

            <tbody style="background-color: white;">
                {% for h in evolucao %}
                    <tr>
                    <td>{{h.data_avaliacao}}</td>
                    <td>{{h.idade}}</td>
                    <td>{{h.peso}} KG</td>
                    <td>{{h.estatura}} cm</td>
                    <td>{{h.perimetro_cefalico}} cm</td>
                    <td>{{imc}}</td>
                    <td>{{h.classificacao_imc}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}