{% extends "menu_lateral.html" %}

{% load static %}

{% block content %}

<div class="content" style="text-align: center; padding: 1%;">
    <div class="row" style="padding-top: 2%;">
        <div class="col-sm-12">
            <div class="card" style="width:100%;">                
                <div class="card-body"> 

                    <h1>Termo de consentimento</h1>

                    <div style="text-align: left; padding-top: 3%;">
                        <p>1 - Autorizo os Serviços de Saúde a usar a plataforma de prática de telessaúde para telecomunicações para avaliar, testar e diagnosticar minha condição médica.</p>
                        <p>2 - Eu entendo que dificuldades técnicas podem ocorrer antes ou durante as sessões de telessaúde e minha consulta não pode ser iniciada ou encerrada como planejado. </p>
                        <p>3 - Aceito que os profissionais possam entrar em contato com sessões interativas com videochamada; no entanto, fui informado de que as sessões podem ser conduzidas por meio de comunicação de voz normal, se os requisitos técnicos, como velocidade da Internet, não puderem ser atendidos.</p>    
                        <p>4 - Eu entendo que meu seguro atual pode não cobrir as taxas adicionais das práticas de telessaúde e posso ser responsável por qualquer taxa que minha seguradora não cubra.</p>
                        <p>5 - Concordo que meus  prontuários de telessaúde podem ser mantidos para posterior avaliação, análise e documentação, sendo que em todos eles minhas informações serão mantidas em sigilo.</p>        
                    </div>    

                    <div class="form-check-inline switch">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="">Li, concordo e aceito os termos
                        </label>

                        <a href="http://127.0.0.1:8000/home" class="btn btn-info" role="button" style="margin-top: 1%;">Enviar termos</a>                                            
                    </div>

                </div>   
            </div>
        </div>
    </div>            


</div>


<style>
.switch{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
</style>

{% endblock %}